
.DigitalAgencyArticle {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.DigitalAgencyPresentation {
    padding-left: 25vh;
    padding-right: 25vh;
}

.ButtonPurple {
    background-color: #7C61D6;
    padding: 1vh;
    border-radius: 45px;
    color: white;
}

.SloganDigital {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10vh;
}