.Row {
    display: flex;
}

.ArticleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15vh;
    margin-right: 15vh;
}

.Title {
    font-size: 3.5em;
    color: #1B0E3D;
}

.Text {
    font-size: 1.5em;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.Button {
    background-color: #33E2A0;
    padding: 1vh;
    border-radius: 45px;
    color: white;
}

.Slogan {   
    font-size: 1.5em;
}

.MarginTopBottom {
    margin-top: 5vh;
    margin-bottom: 5vh;
}