/** Style Container **/

.SocietyContainer {
    display: flex;
    background-color: #7C61D6;
    padding-right: 30vh;
    padding-left: 30vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
}


.CloseToCContainer {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding-right: 30vh;
    padding-left: 30vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
}


.DifferenceContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
    padding-right: 15vh;
    padding-left: 15vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.ReaAgenceContainer {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.MenuContainer {
    display: flex;
    justify-content: space-evenly;
}

.PartnerContainer {
    display: flex;
    justify-content: space-evenly;
    padding-right: 30vh;
    padding-left: 30vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.ResponsiveContainer {
    display: flex;
    flex-direction: column;
    background-color: #7C61D6;;
    padding-right: 20vh;
    padding-left: 20vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.Responsive{
    display: flex;
    justify-content: space-evenly;
}

.ListContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40vh;
}
/** Style pour Titre et texte **/

.Title {
    font-size: 44px;
}

.SubTitle {
    font-size: 24px;
    padding-left: 5vh;
}

.SubTitle-NoPadding {
    font-size: 24px;
}

.Text { 
    font-size: 18px;
}

.AlignCenter {
    text-align: center;
}

.Slogan {
    text-align: center;
    font-size: 24px;
    color: #2C2C51;
}

.White {
    color: white;
}

.Blue {
    color: #1B0E3D;
}

.Grey {
    color: #8B8BA3;
}



/** Style Etiquettes**/

.Presentation-FlexStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 10vh;
    padding-right: 10vh ;
}

.Presentation-Center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/** Margin et Padding **/

.SmallBlock {
    padding-left: 50vh;
    padding-right: 50vh ;
    margin-bottom: 5vh;
}

.MarginTop {
    margin-top: 3vh;
}

.MediumWidth {
    width: 60%;
}

.SmallWidth {
    width: 40%;
}

.MarginText {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
/** Style Bouton **/

.Button {
    background-color: #33E2A0;
    border-radius: 45px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/** Style Menu Deroulant **/

.selected.menu-item {
    background-color: #33E2A0;
    font-size: 24px;
    color: #1B0E3D;
    padding: 5vh;
}

.MenuDeroulant {
    width: 30%;
}
.PartnerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding: 10vh;
    background-color: white;

}

.PartnerPresentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.PartnerPresentation h1 {
    font-size: 3.5em;
    color: #1B0E3D;
    text-align: center;
}

.PartnerPresentation p {
    width: 100%;
    font-size: 1.5em;
    margin-top: 4vh;
    margin-bottom: 4vh;
    color: #585E68;
    text-align: center;
}

.Responsive{
    background: linear-gradient(#5e2ced, #00c89c);
    color: white;
    padding-bottom: 5vh;
    
   
}

.ResponsiveContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    justify-items: center;
    align-items: center;
    padding: 2vh;
    text-align: center;
}

.ResponsiveContainer h2 {
    font-size: 2em;
    padding-bottom: 4vh;
}

.ResponsivePresentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
}

.ResponsivePresentation h1 {
    font-size: 3em;
    text-align: center;
}

.ResponsivePresentation h3 {
    width: 100%;
    font-size: 1.5em;
    margin-top: 4vh;
    margin-bottom: 1vh;
    text-align: center;
}


.ResponsiveImgContainer{
    grid-column: 2;
    grid-row: 1/4;
    width: 80%;
    height: auto;
}
.un {
    grid-column: 1;
    grid-row: 1;
    padding: 5vh;
    padding-bottom: 5vh;
}

.deux {
    grid-column: 1;
    grid-row: 2;
    padding: 5vh;
    padding-bottom: 5vh;
}

.trois {
    grid-column: 1;
    grid-row: 3;

}

.quatre {
    grid-column: 3;
    grid-row: 1;
}

.cinq {
    grid-column: 3;
    grid-row: 2;
}

.six {
    grid-column: 3;
    grid-row: 3;
    grid-template-columns: auto;
} 