/** Style Component Society **/

.SocietyContainer {
    display: flex;
    background-color: #7C61D6;
    padding: 10vh;
    justify-content: space-between;
}

.SocietyPresentation {
    width: 60%;
}

.SocietyTitle, .SocietyText, .DiscoverButton {
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.SocietyText, .DiscoverButton {
    font-size: 1.5em;
}

.SocietyTitle {
    font-size: 3.5em;
}

.DiscoverButton {
    background-color: #33E2A0;
    padding: 1vh;
    border-radius: 45px;
}


/** Style Component CloseToC **/

.CloseToCContainer {
    display: flex;
    background-color: white;
    padding: 10vh;
    justify-content: space-between;
}

.CloseToCPresentation {
    width: 60%;
}

.CloseToCTitle {
    font-size: 3.5em;
}

.CloseToCText {
    font-size: 1.5em;
    width: 50%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.Slogan {
    font-size: 2.5em;
    text-align: center;
}

/** Style Component SiDifferent **/

.DifferenceContainer {
    display: flex;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    justify-content: space-evenly;
}

.MenuDeroulant {
    display: flex;
    flex-direction: column;
    width: 60vh;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5em;
}

.DifferenceImg {
    width: 80vh;
}