.FooterPic{
    object-position: center;
}


.Projet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #7C61D6;
    color: white;
}
.Projet h1{
    color: #000;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.Projet h2{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.Projet p{
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
    padding-left: 15vh;
    padding-right: 15vh;
    font-size: large;
    
}

.About{
    background-color: #7C61D6;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes de taille égale */
    grid-gap: 10px; /* Espace entre les cellules de la grille (facultatif) */
    justify-items: center;
    align-items: top;
    padding-top: 5vh;
    padding: 5vh;
    color: white;
}

.About p {
    margin: 2vh;
    padding: 2vh;
}

.About h3{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
.Apropos{
    grid-column: 1/2;
    grid-row: 1;
}

.Help{
    grid-column: 2/3;
    grid-row: 1;
}

.AgenceLille{
    grid-column: 3/4;
    grid-row: 1;
}

.SocialMedias{
    grid-column: 2/3;
    grid-row: 2;
}


.Activateur {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Trois colonnes de taille égale */
    grid-gap: 10px; /* Espace entre les cellules de la grille (facultatif) */
    justify-items: center;
    align-items: top;
    padding-top: 5vh;
    padding: 5vh;
    color: white;
}

.ActivateurPic{
    grid-column: 1/2;
    grid-row: 1;
}

.ActivateurText{
    grid-column: 2/3;
    grid-row: 1;
}